/* A stylesheet to use on websites I develop
   !* Author: Thannaree Charoenpokkasap
   !* Website: bow.meys.tel, thannaree.github.io, bow.meystel.com
*/

/* The default CSS is for mobile devices (for iPhone with large screen, specifically) */

* {
    /*font-family: "Georgia", sans-serif;*/
    font-family: 'Palatino', serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper, .footer, .top-section, .container {
    width: 100%;
    padding: 10px;
}

a {
    text-decoration: none;
}

.header-home {
    width: 94%;
    vertical-align: middle;
    /* padding: 10px; */
    /* border: red 1px solid; */
}


.logo-image {
    max-width: 100%;
    height: auto;
    width: 25px;
    padding-right: 10px;
}

/* .logo-home-link {
    vertical-align: middle;
    padding: 10px;
} */

.head-banner {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: fixed;
    top: 0;
    width: 100%;
    height: 6%;
    padding: 3%;
    z-index: 2;
    background-color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nav-bar {
    display: none;
}

#side-nav {
    overflow: hidden;
    display: none;
    position: fixed;
    background-color: black;
    opacity: 0.8;
    width: auto;
    height: auto;
    right: 0;
    /*margin-top: 3%;*/
    padding: 8% 6% 2% 5%;
    z-index: 1;
    line-height: 25px;
}

#side-nav a, #side-nav .icon {
    color: white;
}

#side-nav a {
    display: block;
    font-size: 11px;
    text-align: right;
}

#side-nav .icon::after {
    content: "";
    padding: 0 3px;
}

#overlay {
    position:fixed;
    display:none;
    width:100%;
    height:100%;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:rgba(0,0,0,0.5);
    z-index:2;

}

.header-bar {
    width: 6%;
    right: 0;
    /*border: white 1px solid;*/
}

.header-home a {
    color: white;
    /*padding-left: 3%;*/
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 3px;
    vertical-align: middle;
}

.home-icon {
    padding-right: 1%;
    padding-left: 2%;
    /*color: white;*/
}

#toggle-icon span {
    right: 5%;
    top: 45%;
}

#toggle-icon span, #toggle-icon span::before, #toggle-icon span::after {
    cursor: pointer;
    height: 2px;
    width: 15px;
    background: white;
    position: absolute;
    display: block;
    content: "";
    transition: all 300ms ease-in-out;
}

#toggle-icon span::before {
    top: -5px;
}

#toggle-icon span::after {
    bottom: -5px;
}

#toggle-icon.active span {
    background-color: transparent;
}

#toggle-icon.active span::before {
    top: 0;
    transform: rotate(45deg);
}

#toggle-icon.active span::after {
    top: 0;
    transform: rotate(-45deg);
}

.tiny-padding {
    padding-left: 10px;
}
/*.bar-icon {
    padding-right: 2%;
    font-size: 14px;
    vertical-align: middle;
    color: white;
}*/

/*.close-icon {
    display: none;
    color: white;
    !*width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;*!
    !*transition: 0.4s;*!
}*/

/*
#close-icon {
    display: none;
}*/

.banner {
    margin-top: 5%;
    position: relative;
}

.img-banner {
    width: 100%;
    height: auto;
}

/*.aside-button {
    position: absolute;
    top: 70%;
    width: 35%;
    right: 0;
}*/

.aside-text {
    width: 34%;
    height: 100%;
    top: 5%;
    position: absolute;
    text-align: right;
    vertical-align: middle;
    font-weight: bolder;
    left: 66%;
    right: 0;
    /*border-radius: 7%;*/
    padding-right: 2%;
    padding-top: 6%;
    line-height: 25px;
    /*font-style: italic;*/
    font-size: 14px;
    color: #673ab7;
    background-color: white;
    opacity: 0.5;
}

.view-resume {
    width: 30%;
    padding: 1%;
    font-size: 14px;
    font-weight: bolder;
    border-radius: 5px;
    position: absolute;
    top: 85%;
    right: 2%;
    color: #673ab7;
    background-color: white;
    border: #673ab7 1px solid;
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}

#iam {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.aside-text {
    vertical-align: middle;
    border: 5px solid red;
    box-shadow: inset 5px 0 5px -5px #424242;
    box-shadow: inset 0 0 15px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
}

.img-profile {
    width: 20%;
    position: absolute;
    top: 19%;
    right: 5%;
    border: 3px solid white;
    border-radius: 70%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.section {
    /*background-color: #673ab7;*/
    position: relative;
    width: 94%;
    height: auto;
    display: block;
    /*color: white;*/
    outline: 3px solid #673ab7;
    outline-offset: -.25em;
    margin: 3%;
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 0 10px 0 rgba(0, 0, 0, 0.13);*/
}

.section h2 {
    color: #673ab7;
    position: absolute;
    padding: 0 .145em;
    left: 50%;
    top: -10px;
    background-color: white;
    transform: translateX(-50%);
}

.section p {
    padding: 25px 15px 15px;
    text-align: center;
    line-height: 24px;
}

.top-item h4, .summary h3, .container h3 {
    padding: 20px;
    line-height: 34px;
}

.top-item p, .summary p, .container p {
    font-size: 16px;
    padding: 20px;
    line-height: 24px;
}

.toTop {
    position: fixed;
    bottom: 55px;
    right: 14px;
    z-index: 99;
    color: white;
    background-color: #673ab7;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    outline: none;
    padding: 5px;
    font-size: large;
}

.arrow {
    color: white;
    font-size: x-large;
}

.footer p {
    padding: 10px 10px 5px;
}

.footer-icon i {
    padding-left: 5px;
    padding-right: 5px;
}

.footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #673ab7;
    color: white;
    font-size: 14px;
}

/*
#profile-pic {
    width: 35%;
    padding-right: 50px;
}

.image-profile {
    max-width: 100%;
    height: auto;
    display: inline-block;
    margin-left: 20px;
    margin-right: auto;
    border-radius: 70%;
    border: 5px solid white;
    width: 150px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 0;
}*/
/*

!*
     ##Device = Most of the Smart phones Mobiles (Portrait)
     ##Screen = B/w 320px to 479px
   *!
@media (min-width: 320px) and (max-width: 480px) {

}

!* Extra small devices (phones, 600px and down) *!
@media only screen and (max-width: 600px) {

}

!* Small devices (portrait tablets and large phones, 600px and up) *!
@media only screen and (min-width: 600px) {

}

!* Medium devices (landscape tablets, 768px and up) *!
@media only screen and (min-width: 768px) {

}

!* Large devices (laptops/desktops, 992px and up) *!
@media only screen and (min-width: 992px) {
    .banner {
            margin-top: 3.5%;
    }

    .aside-text {
        width: 63%;
        font-size: 45px;
        line-height: 65px;
        transform: translate(-70%, -45%);
    }

    .img-profile {
        right: 7%;
    }
}



!* Extra large devices (large laptops and desktops, 1200px and up) *!
@media only screen and (min-width: 1200px) {

    .menu-icon {
        display: none;
    }

    .banner {
        margin-top: 3.7%;
    }

    .aside-text {
        width: 60%;
        font-size: 45px;
        line-height: 65px;
        transform: translate(-68%, -45%);
    }

    .img-profile {
        top: 25%;
        right: 10%;
        width: 16%;
    }

    .head-text {
        display: none;
    }

    .nav-bar {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .icon::before, .icon::after {
        content: "";
        padding: 0 5px;
    }

    .column {
        width: 25%;
    }

    .button {
        border: none;
        display: block;
        padding: 8px 16px;
        width: 25%;
        height: 28px;
        vertical-align: middle;
        overflow: hidden;
        text-decoration: none;
        color: inherit;
        background-color: inherit;
        text-align: center;
        cursor: pointer;
        white-space: nowrap;
    }

    .column {
        border: none;
        !*padding: 0;*!
        !*display: block;*!
        !*text-decoration: none;*!
        text-align: center;
        !*width: 100%;*!
        vertical-align: middle;
        font-size: large;
        !*margin: 0;*!
    }

    a:hover {
        color: darkgrey;
    }

    .banner {
        margin-top: 3.5%;
    }
}
*/



