/* A stylesheet specifically the Media Query for to use on my website
   !* Author: Thannaree Charoenpokkasap
   !* Website: bow.meys.tel, thannaree.github.io, bow.meystel.com
*/

/*
     ##Device = Most of the Smart phones Mobiles (Portrait)
     ##Screen = B/w 320px to 479px
   */
@media (min-width: 320px) and (max-width: 480px) {

}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .banner {
        margin-top: 3.5%;
    }

    .aside-text {
        width: 63%;
        font-size: 45px;
        line-height: 65px;
        transform: translate(-70%, -45%);
    }

    .img-profile {
        right: 7%;
    }
}



/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

    .menu-icon {
        display: none;
    }

    .banner {
        margin-top: 3.7%;
    }

    .aside-text {
        width: 60%;
        font-size: 45px;
        line-height: 65px;
        transform: translate(-68%, -45%);
    }

    .img-profile {
        top: 25%;
        right: 10%;
        width: 16%;
    }

    .head-text {
        display: none;
    }

    .nav-bar {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        vertical-align: middle;
    }

    .icon::before, .icon::after {
        content: "";
        padding: 0 5px;
    }

    .column {
        width: 25%;
    }

    .button {
        border: none;
        display: block;
        padding: 8px 16px;
        width: 25%;
        height: 28px;
        overflow: hidden;
        text-decoration: none;
        color: inherit;
        background-color: inherit;
        text-align: center;
        cursor: pointer;
        white-space: nowrap;
    }

    .column {
        border: none;
        /*padding: 0;*/
        /*display: block;*/
        /*text-decoration: none;*/
        text-align: center;
        /*width: 100%;*/
        vertical-align: middle;
        font-size: large;
        /*margin: 0;*/
    }

    a:hover {
        color: darkgrey;
    }

    .banner {
        margin-top: 3.5%;
    }
}
